<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>

</head>
<body background="/static/img/mag.jpeg">
<form action="form">
  <fieldset>
    <legend>Мой контакт</legend>
    <div class="form-control">
      <label for="name">Name</label>
      <input type="name" placeholder="Введите ваше имя" required />
    </div>
    div class="form-control">
      <label for="email">Email</label>
      <input type="email" placeholder="Введите ваш email" required />
    </div>
  </fieldset>
</form>
</body>
</html>