<!DOCTYPE html>
<html lang="ru">
<head>
  <link rel="stylesheet" href="static/styles.css">
  <meta charset="UTF-8">
  <title>Главная страница</title>
</head>
<body>
<form class="form-control" action="/" method=post>
  <fieldset class="form-control">
    <legend>Авторизация</legend>
    <div>
      <label for="name">Name</label>
      <input type="text" name="name" placeholder="Введите ваше имя">
    </div>
    <div>
      <label for="email">Email</label>
      <input type="email" name="email" placeholder="Введите email">
    </div>
    <input type="submit" value="Отправить">
  </fieldset>
</form>
</body>
</html>