<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Магазин одежды "Кавалер"</title>

</head>
<body background="/static/img/mag.jpeg">
<div>
  <h1 align="center"><font size="7">Магазин одежды "КАВАЛЕР"</font></h1>
  <ul>
    <font size="6">
    <li><a href="/">Главная</a></li>
    <li><a href="/shoes/">Обувь</a></li>
    <li><a href="/clothes/">Одежда</a></li>
    <li><a href="/hats/">Головные уборы</a></li>
    </font>
  </ul>
  {% block content %}
  <center>
  <h2><font size="7">
    Спасибо, что Вы с нами!
    <p>Выберите себе что-нибудь по душе!</p>
    </font>
  </h2>
    </center>
  {% endblock %}
</div>
</body>
</html>